* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header Start */

header {
    position: fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 71px;
    font-family: 'Public Sans', sans-serif;
    padding: 10px 0px;
}
.container {
    max-width: 1440px;
    margin: 0px auto;
}

.container img {
    cursor: pointer;
}

.container .nav ul {
    display: flex;
}

.container .nav ul li {
    list-style: none;
    margin: 0px 20px;
    display: flex;
    align-items: center;
}

.container .nav ul li img {
    width: 15px;
    height: 10px;
    margin-left: 5px;
    margin-top: 2px;
}

.container .nav ul li a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #0a0a0a;
}

.container .nav ul li a:hover {
    color: #4316a0;
}

.container .nav .drop:hover>img {
    rotate: 180deg;
    transition: all 0.2s ease-in-out;
}

.container .nav .drop:hover>ul {
    display: block;
    transition: all 0.5s ease-in-out;
}

.container .nav .drop {
    position: relative;
}

.container .nav .drop ul {
    display: none;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
    padding: 10px;
    padding-top: 10px;
    border-radius: 8px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 25px;
}

.container .nav .drop .max-content {
    width: max-content;
}

.container .nav .drop ul li {
    margin: 5px 0px;
    padding: 6px;
}

.container .nav .drop ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container .cta-nav,
.container .download-cta {
    display: flex;
    align-items: center;
}

.container .cta-nav button {
    background-color: transparent;
    border: 1px solid #5d2e8c;
    padding: 10px 20px;
    border-radius: 50px;
    margin-right: 15px;
    cursor: pointer;
}

.container .cta-nav button:first-child:hover {
    background-color: #4316a0;
    color: white;
    transition: all .2s ease-in-out;
}

.container .download-cta {
    background-color: #4316a0;
    padding: 10px 16px;
    border-radius: 30px;
    color: white;
}

.container .download-cta img {
    width: 24px;
    height: 20px;
    margin: 0px 5px;
}

.container .download-cta p {
    font-size: 14px;
    margin-left: 5px;
}

.mob-nav {
    display: none;
}

/* Mobile Navbar */

@media only screen and (max-width:1280px) {

    .container .nav,
    .container .cta-nav {
        display: none;
    }

    .mob-nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 60%;
    }

    .mob-nav .cta-nav {
        display: block;
        margin-right: 0px;
    }

    .mob-nav .hamburger img {
        width: 30px;
        height: 20px;
        margin-top: 5px;
        cursor: pointer;
    }

    .mob-nav .hamburger .close {
        width: 30px;
        height: 25px;
        margin-top: 5px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        filter: invert(1);
        position: absolute;
        top: 21px;
        right: 20px;
    }

    .mob-nav .nav {
        display: block;
        position: fixed;
        right: -250px;
        top: 0;
        background: #4f2485;
        height: 100vh;
        width: 250px;
        transition: right 0.5s ease-in-out;
    }

    .mob-nav .nav.active {
        right: 0;
    }

    .mob-nav .nav ul {
        flex-direction: column;
        margin-top: 70px;
    }

    .mob-nav .nav ul li a {
        color: white;
        margin: 20px 0px;
    }

    .mob-nav .download-cta {
        width: max-content;
        margin: 0px auto;
        background-color: #0a0a0a;
    }

    .mob-nav .nav ul li a:hover {
        color: #ffcb3d;
        transition: color 2s ease-in-out;
    }

    .mob-nav .nav .drop:hover>ul {
        display: none;
    }
}

/* Mobile Navbar */

/* Header End */

/* Main Start */

/* HeroSection Start */

main{
    padding-top: 0px;
}

.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 95%;
    height: calc(95vh - 71px);
}

.hero-section .left-section{
    position: relative;
    top: -10%;
}

.hero-section .left-section h1{
    font-size: 36px;
    width: 30%;
    margin-bottom: 20px;
    font-weight: 600;
}

.hero-section .left-section .tagLine{
    width: 64%;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 400;
}

.hero-section .right-section img{
    width: 400px;
    position: relative;
    top: -103px;
    left: 0px;
}

.right-section{
    width: 400px;
    height: 400px;
    background: linear-gradient(180deg, #97d78f 0, #ede070 100%);
    border-radius: 100%;
    position: relative;
}
